body {
  background-color: purple;
}

.wl-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.purple-font {
  color: #ffffff;
}

input {
  text-align: center;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
